* { 
    font-family:cursive;
    color: black;
    margin: 0;
    padding: 0;


}
header{
    width: 100%;
    justify-content:space-between;
    z-index: 100;
    align-items: center;
    justify-content: space-between;

}
label{
    font-size: 120%;
    font-weight: 800;
}
label span{
    font-size: 250%;
}

body{
    background-color:gainsboro;
    margin-left: 5%;
    margin-top: 2%;
}
span{
    font-size: xx-large;
    font-weight: bolder;
    font-style: initial;
    color:royalblue;

}

.navigation a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 50;
    letter-spacing: 1px;
    font-size: large;
    color: black;
    transition: .3s;
}
span a{
    font-size: medium;
    text-decoration: none;
    padding: 2%;
}
.let{
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.leta{
    align-content: flex-end;
}
section{
    background: url(abhay.png);
    background-repeat: no-repeat;
    background-position: 600px 20px;
    background-size: 450px;
}
#hire{
    background: royalblue;
    border-color: royalblue;
    margin-left: 60px;
    color: white;
    border-radius: 10px;
    border-width: 1px;
    height: 30px;
    width: 90px;

}
#sp{
    background: white;
    border-color: royalblue;
    margin-left: 20px;
    color: royalblue;
    border-radius: 10px;
    border-width: 1px;
    height: 30px;
    width: 90px;

}
.intro{
    margin-left: 100px;
}
#sintro{
    position: absolute;
    right: 0px;
    text-align: right;
    padding-right: 120px;
    font-family: 'Courier New';
    color: black;
    font-size: 30px;
}
span b{
    font-size: 20px;
}